<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>    
    {{!-- <link rel="stylesheet" type="text/css" href="https://www.apple.com/ac/globalnav/3/en_US/styles/ac-globalnav.built.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" href="https://web-experience.itunes.apple.com/assets/web-experience-app-4817f81cebefc29a7182f78bbb439fdf.css"> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
