<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center">
    {{{body}}}
    <footer>Made by <a href="mailto: dickfink@apple.com">Dick Fink</a></footer>
    </div>
  </body>
</html>
